<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{::Release.pageTitle}}</h1>

    <milestone-select-directive ng-model="Release.milestoneSelected"/>

    <h2 class="sub-header">{{::Release.userStoriesTitle}} : {{Release.uiUserStories.length}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th><a href="" ng-click="Release.orderBy('owner')">Owner</a></th>
                <th><a href="" ng-click="Release.orderBy('status')">Status</a></th>
                <th><a href="" ng-click="Release.orderBy('tag')">Tags</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="us in Release.uiUserStories | orderBy: Release.order:Release.directionOrder">
                <td>{{us.id}}</td>
                <td>{{us.description}}</td>
                <td>{{us.owner}}</td>
                <td>{{us.status}}</td>
                <td>
                    <span class="label label-primary">{{us.tag}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="sub-header">{{::Release.defectsTitle}} : {{Release.uiDefects.length}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th><a href="" ng-click="Release.orderBy('owner')">Owner</a></th>
                <th><a href="" ng-click="Release.orderBy('status')">Status</a></th>
                <th><a href="" ng-click="Release.orderBy('tag')">Tags</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="defect in Release.uiDefects | orderBy: Release.order:Release.directionOrder">
                <td>{{defect.id}}</td>
                <td>{{defect.description}}</td>
                <td>{{defect.owner}}</td>
                <td>{{defect.status}}</td>
                <td>
                    <span class="label label-primary">{{defect.tag}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>